[Unit]
Description=Consul Server
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Restart=on-failure
WorkingDirectory={{ INSTALL_DIR }}
ExecStart=/bin/bash -c './consul agent -config-file ./server-config.json'
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
