[Unit]
Description=Cloudify Management Worker Service
Wants=cloudify-rabbitmq.service
After=cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/cloudify-mgmtworker
User=cfyuser
Group=cfyuser
WorkingDirectory=/opt/mgmtworker/work
ExecStart=/opt/mgmtworker/env/bin/celery worker \
    -Ofair \
    --include=cloudify.dispatch \
    --hostname cloudify.management \
    --config=cloudify.broker_config \
    --events \
    --app=cloudify_agent.app.app \
    --loglevel=${CELERY_LOG_LEVEL} \
    --queues=cloudify.management \
    --logfile=${CELERY_LOG_DIR}/cloudify.management_worker.log \
    --autoscale={{ mgmt_worker_count }},2 \
    --maxtasksperchild=10 \
    --without-gossip \
    --without-mingle \
    --with-gate-keeper \
    --gate-keeper-bucket-size=5 \
    --with-logging-server \
    --logging-server-logdir=${CELERY_LOG_DIR}/logs \
    --logging-server-handler-cache-size=100

[Install]
WantedBy=multi-user.target
